---
import Gallery from '../components/Gallery.astro'
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <Header slideshow={false} />
  <main>
    <Gallery />
  </main>
</Layout>

