---
import data from '../data/data.json'
import Container from './Container.astro'
import GalleryCard from './GalleryCard.astro'
---

<section>
  <Container className="flex flex-wrap gap-10 max-h-[50vh] ">
    {
      data.map((card) => (
        <GalleryCard
          artist={card.artist.name}
          gallery={card.images.gallery}
          name={card.name}
        />
      ))
    }
  </Container>
</section>
