---
import { Image } from '@astrojs/image/components'
import Logo from '../assets/shared/logo.svg'
import Container from './Container.astro'


---

<header>
  <Container className="py-10 flex justify-between border-b-[1px] border-grey">
    <a href="/">
      <Image
        class="w-[113px] h-[32px] lg:w-[170px] lg:h-[48px]"
        src={Logo}
        alt="Logo"
      />
    </a>

    <button class="text-link-2 lg:text-link-1 text-darkGrey"
      >START SLIDESHOW</button
    >
  </Container>
</header>
